# Lesson 1 Exercise 1: Creating a table with postgreSQL

In [ ]:
pip install psycopg2

### Import the library

In [ ]:
import psycopg2

### Create a connection to the database

In [ ]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
except psycopg2.error as e:
    print("Error: not connected with db")
    print(e)

### cursor:-use the connection to get a cursor that can be used to execute queries.

In [ ]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error:could not get cursor")
    print(e)

### Set automatic commit to be true so that each action is committed without having to call conn.commit() after each command.

In [ ]:
conn.set_session(autocommit=True)

### create db to do work

In [ ]:
try:
    cur.execute("create database Demodb")
except psycopg2.error as e:
    print(e)

### Add the database name in the connect statement.let's close our connection to the default db,reconnect to the newdb db,and get new cursor

In [ ]:
try:
    conn.close()
except psycopg2.error as e:
    print(e)
    
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=demodb user=postgres password=root")
except psycopg2.error as e:
    print("Error: not connected with Demodb")
    print(e)
    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error:could not get cursor")
    print(e)
    
conn.set_session(autocommit=True)

### Create table for students which includes below column

In [ ]:
try:
    cur.execute("create table if not exists students(student_id int, name varchar, age int, gender varchar, subject varchar, marks int);")
except psycopg2.error as e:
    print("Error: Issue creating table")
    print(e)

### Insert data into students db

In [ ]:
try:
    cur.execute("insert into students(student_id, name, age, gender, subject, marks) \
    values(%s, %s, %s, %s, %s, %s)",\
               (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)
    
try:
    cur.execute("insert into students(student_id, name, age, gender, subject, marks) \
    values(%s, %s, %s, %s, %s, %s)",\
               (2, "Priya", 24, "Female", "Python", 86))
except psycopg2.Error as e:
    print("Error:Inserting Rows")
    print(e)

### Validate your data was inserted into table.

In [ ]:
try:
    cur.execute("select * from students;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

### And finally close your cursor and connection

In [ ]:
cur.close()
conn.close()

# project

### Building Data Model and Writing ETL Job for IPL Dataset

In [ ]:
pip install pandas

In [1]:
import psycopg2
import pandas as pd

### Create db

In [3]:
def create_database():
    # connect to default database
    # conn = psycopg2.connect("host=127.0.0.1 dbname=ipldb user=ipl password=ipl")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # create sparkify db with UTFs encoding 
    cur.execute("DROP DATABASE ipl")
    cur.execute("create DATABASE ipl")
    
    #close connection to default db
    conn.close()
    
    # connect to sparkify db
    conn = psycopg2.connect("host=127.0.0.1 dbname=ipl user=postgres password=root")
    cur = conn.cursor()
    
    return cur, conn

In [ ]:
def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
def create_table(cur,conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

### load data IPL_Sold_players_2013_23

In [4]:
IPL_Sold_players_2013_23 = pd.read_csv("Desktop/IPL_Sold_players_2013_23.csv")

In [5]:
IPL_Sold_players_2013_23.head()

,Season,Name,Nationality,Type,Team,Price
0,2023,Ajinkya Rahane,Indian,Batter,Chennai Super Kings,"50,00,000"
1,2023,Bhagath Varma,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
2,2023,Kyle Jamieson,Overseas,Bowler,Chennai Super Kings,"1,00,00,000"
3,2023,Ajay Mandal,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
4,2023,Nishant Sindhu,Indian,All-Rounder,Chennai Super Kings,"60,00,000"

### clean data

In [ ]:
# IPL_Sold_players_2013_23_clean = IPL_Sold_players_2013_23[['Session','Name','Nationality','Type','price']]

### Load data IPL_2022_23_Sold_Players

In [6]:
IPL_Sold_players_2022_23 = pd.read_csv("Desktop/IPL_2023-22_Sold_Players.csv")

In [7]:
IPL_Sold_players_2022_23.head()

,Season,Name,Nationality,Type,Team,Price
0,2023,Ajinkya Rahane,Indian,Batter,Chennai Super Kings,"50,00,000"
1,2023,Bhagath Varma,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
2,2023,Kyle Jamieson,Overseas,Bowler,Chennai Super Kings,"1,00,00,000"
3,2023,Ajay Mandal,Indian,All-Rounder,Chennai Super Kings,"20,00,000"
4,2023,Nishant Sindhu,Indian,All-Rounder,Chennai Super Kings,"60,00,000"

### clean data

In [8]:
IPL_Sold_players_2022_23.columns

Index(['Season', 'Name', 'Nationality', 'Type', 'Team', 'Price'], dtype='object')

In [ ]:
# IPL_2022_23_Sold_Players_clean = IPL_2022_23_Sold_Players.drop(['Nationality'], axis=1)

## Create Databases

In [9]:
cur, conn = create_database()

### create table ipl_sold_player_2013_23

In [10]:
ipl_sold_player_2013_23 = ("""create table if not exists ipl_sold_player_2013_23(
Season varchar,
Name varchar,
Nationality varchar,
Type varchar,
Team varchar,
Price varchar
)""")

### commit the change

In [11]:
cur.execute(ipl_sold_player_2013_23)
conn.commit()

### Insert data into ipl_sold_player_2013_23

In [12]:
ipl_sold_2013_23 = ("""insert into ipl_sold_player_2013_23(
Season,
Name,
Nationality,
Type,
Team,
Price)
values(%s, %s, %s, %s, %s, %s)
""")

In [13]:
for i, row in IPL_Sold_players_2013_23.iterrows():
    cur.execute(ipl_sold_2013_23, list(row))

In [14]:
conn.commit()

### Create table IPL_2022_23_Sold_Players

In [17]:
IPL_2022_23_Sold_Players = ("""create table if not exists IPL_2022_23_Sold_Players(
Season varchar,
Name varchar,
Nationality varchar,
Type varchar,
Team varchar,
Price varchar
)""")
cur.execute(IPL_2022_23_Sold_Players)
conn.commit()

### insert data into IPL_2022_23_Sold_Players

In [18]:
ipl_sold_2022_23 = ("""insert into IPL_2022_23_Sold_Players(
Season,
Name,
Nationality,
Type,
Team,
Price)
values(%s, %s, %s, %s, %s, %s)
""")

In [19]:
for i, row in IPL_Sold_players_2022_23.iterrows():
    cur.execute(ipl_sold_2022_23, list(row))

In [20]:
conn.commit()